* {
  box-sizing: border-box;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-main);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

h1,
p {
  margin: 0;
}

h2 {
  width: 400px;
}

.container {
  margin: 0 auto;
  max-width: 970px;
  padding: 0 10px;
}
